source_up
export DIGITALOCEAN_TOKEN=$(jc --yaml <${HOME}/Library/Application\ Support/doctl/config.yaml | jq -r '.[] | .["access-token"]')
# export CLOUDFLARE_API_KEY=$(cat ${HOME}/.config/cloudflare/api_key)
export CLOUDFLARE_API_TOKEN=$(jc --yaml <${HOME}/.config/cloudflare/api_token | jq -r '.[] | .token')
export CLOUDFLARE_EMAIL="marco.bulgarini@gmail.com"
export TF_VAR_cf_account_id=$(cat ${HOME}/.config/cloudflare/account_id)
